body{ background-color: lightblue;}

.boto{
    background-color: #0013ba;
      color: white;
      color: white;
      padding: 10px 10px;
      text-align: center;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      -webkit-transition-duration: 0.4s; /* Safari */
      transition-duration: 0.4s;
      cursor: pointer;
      text-decoration: none;
      text-transform: uppercase;
      background-color: white; 
      color: black; 
      border: 2px solid #008CBA;
      color: #0099CC;
      background: transparent;
      border: 2px solid #0099CC;
      border-radius: 6px;
      
}

.reset{
background-color: #0013ba;
      color: white;
      color: white;
      padding: 10px 10px;
      text-align: center;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      -webkit-transition-duration: 0.4s; /* Safari */
      transition-duration: 0.4s;
      cursor: pointer;
      text-decoration: none;
      text-transform: uppercase;
      background-color: white; 
      color: black; 
      border: 2px solid #008CBA;
      color: #0099CC;
      background: transparent;
      border: 2px solid #0099CC;
      border-radius: 6px;
}

.boto:hover{ 
    background-color: #00cc88;
}

.reset:hover{
    background-color: #00ba38;
}